parameters:
	level: 9
	paths:
		- src
	scanDirectories:
	    - vendor
	excludePaths:
	    - src/Hebbinkpro/WebServer/libs/*
	    - src/Hebbinkpro/WebServer/http/message/HttpRequest.php
	    - src/Hebbinkpro/WebServer/http/message/HttpResponse.php
	treatPhpDocTypesAsCertain: false
	editorUrl: 'file://%%file%%:%%line%%'
	editorUrlTitle: '%%file%%:%%line%%'